# Created by https://www.gitignore.io

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# Gradle
.gradle/

### Eclipse ###
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin 
.target

# TeXlipse plugin
.texlipse


## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
*.iml
.idea/
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

#images
#*.gif
#*.jpeg
#*.jpg
#*.png
#*.gif

#mac
.DS_Store

